@charset "UTF-8";

a {
	text-decoration: none;
	color: #fff;
}

li {
	margin: 8px;
}

.nav_fix {
	background: #212121;
	position: fixed;
	width: 99%;
	top: 0px;
	left: 0px;
	padding: 10px;
	margin: 0px;
	z-index: 1;
	font-size: 20px;
	text-align: center;
}

#logo {
	padding: 0;
	margin: 0;
}

#main_icon, #nav_category, li {
	display: inline-block;
}

#main_icon, #nav_category {
	width: 46%;
	min-height: 100%;
	margin: 0;
}

#main_icon {
	padding-left: 50px;
	text-align: left;
}

#nav_category {
	text-align: right;
}

aside {
	background: #212121;
	position: fixed;
	width: 80px;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: 0;
	text-align: center;
}

aside>div {
	padding: 30px 5px;
	text-align: center;
	font-size: 50px;
	margin-bottom: 10px;
	cursor: pointer;
}

.video_frame {
	width: 450px;
	height: 430px;
	margin: 0px 8px 40px;
	float: left;
	cursor: pointer;
}

.thumbnail_frame {
	width: 450px;
	height: 60%;
}

.content_frame {
	width: 450px;
	height: 40%;
}

#aside {
	padding-top: 30px;
	margin: 0;
}

aside, .main_page {
	padding: 105px 0 0 80px;
}

div.main_frame {
	height: auto;
	overflow: hidden;
	width: 1950px;
	margin-left: 195px;
}

.watch_frame {
	width: 1059px;
	height: 596px;
	margin-left: 100px;
	margin-top: 50px;
}

p.iframe_p {
	text-align: center;
}

div.iframe_frame {
	width: 1020px;
	height: 400px;
	margin-left: 100px;
	padding: 20px;
}

input {
	float: right;
	margin-right: 50px;
	width: 100px;
	height: 50px;
}